<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <!-- Will override fileName and archive name in bootstrap code.
         fileName attribute needed here by NLog -->
    <!-- archiveAboveSize bounds a single session. Rotating only on startup
         left the current file free to grow for as long as the app stayed
         open, which a repeating warning could turn into gigabytes. -->
    <target name="logfile" xsi:type="File" fileName="ds4mapper_log.txt" layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=ToString}}"
            archiveAboveSize="10485760"
            maxArchiveFiles="7" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd" archiveOldFileOnStartup="True"  />
    <!--<target name="logconsole" xsi:type="Console" />-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>